@font-face {
  font-family: 'Helvetica Light Cond';
  src: url('../fonts/Linotype - HelveticaNeueLTW1G-LtCn.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Linotype - HelveticaNeueLTW1G-LtCn.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Linotype - HelveticaNeueLTW1G-LtCn.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Linotype - HelveticaNeueLTW1G-LtCn.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Linotype - HelveticaNeueLTW1G-LtCn.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Linotype - HelveticaNeueLTW1G-LtCn.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Helvetica Thin Cond';
  src: url('../fonts/Linotype - HelveticaNeueLTW1G-ThCn.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Linotype - HelveticaNeueLTW1G-ThCn.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Linotype - HelveticaNeueLTW1G-ThCn.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Linotype - HelveticaNeueLTW1G-ThCn.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Linotype - HelveticaNeueLTW1G-ThCn.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Linotype - HelveticaNeueLTW1G-ThCn.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Helvetica Bold Cond';
  src: url('../fonts/Linotype - HelveticaNeueLTW1G-BdCn.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Linotype - HelveticaNeueLTW1G-BdCn.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Linotype - HelveticaNeueLTW1G-BdCn.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Linotype - HelveticaNeueLTW1G-BdCn.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Linotype - HelveticaNeueLTW1G-BdCn.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Linotype - HelveticaNeueLTW1G-BdCn.svg#svgFontName') format('svg'); /* Legacy iOS */
}
.frontpage_square{
position:relative;
overflow:hidden;
padding-bottom:100%;
}
.frontpage_square img{
position:absolute;
}
.blackbg {background-color: #000; margin-bottom:20px;}
.white {color:#fff;}
/*.col-md-6 {padding-right: 0;
padding-left: 0;}

.col-sm-6 {width: 49.2%;}

.spacer {margin-left: 15px;}
.spacer2 {margin-left: 10px;}*/

.logo {padding: 20px 0;}

.thumbnail {display: block;
padding: 0px;
/*margin-bottom: 20px;*/
line-height: 1.42857143;
background-color: #000;
border: 1px solid #000;
border-radius: 0px;}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
padding-right: 10px;
padding-left: 10px;} 
/*#form .col-md-12, .col-md-6, .col-md-4, .col-md-5, .col-md-2, .col-sm-6, .col-sm-12, .col-xs-6, .col-xs-12  {padding:7px;} */

.padding0 { padding:0!important;}

h1 {font-family: 'Helvetica Thin Cond', arial, sans-serif;
color: #000;
font-size: 42px;
line-height:42px;
text-transform: uppercase;
margin: 0;
}

h2 { font-family: 'Helvetica Bold Cond', arial, sans-serif;
color: #FFF;
font-size: 36px;
text-transform: uppercase;
/* position: absolute; */
margin: 50% auto;
/* padding-top: -18px; */
position: absolute;
top: -18px;
left: 0;
/* bottom: 0; */
right: 0;
white-space: nowrap;}

.signup h1 { color:#FFF; font-size:3.4em;}

.signup h3 { color:#FFF; font-family: 'Helvetica Thin Cond', arial, sans-serif;font-size: 2.1em;}
.signup span { color:#FFF; font-family: 'Helvetica Thin Cond', arial, sans-serif;}

.white-bg {background-color: #ffffff;}
.no-border { border:1px solid #fff;}

a.thumbnail:hover {border:1px solid #000;}
a {color:#000;}
a:hover {color: #f50c95;
text-decoration: none;}
.signup {position: absolute;
margin: 50% auto;
left: 0;
right: 0;
top: -100px;}

.col-centered{
    float: none;
    margin: 0 auto;
}

.form-control2 {display: block;
width: 100% !important;
height: 42px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: none;
border-radius: 0px;
-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;}


.form-control {display: block;
width: 100% !important;
height: 42px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: none;
border-radius: 0px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;}



.btn-primary, .btn-default {color: #fff;
background-color: #f50c95;
border-color: #f50c95}

.btn {display: inline-block;
height: 42px;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: 400;
line-height: 1.42857143;
text-align: center;
white-space: nowrap;
vertical-align: middle;
-ms-touch-action: manipulation;
touch-action: manipulation;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-image: none;
border: 1px solid #f50c95;
border-radius: 0px;
margin-left: -5px;}

.btn2 {display: inline-block;
height: 42px;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: 400;
line-height: 1.42857143;
text-align: center;
white-space: nowrap;
vertical-align: middle;
-ms-touch-action: manipulation;
touch-action: manipulation;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-image: none;
border: 1px solid #f50c95;
border-radius: 0px;
}

.btn-primary:hover, .btn-default:hover {color: #fff;
background-color: #d40a81;
border-color: #d40a81;}

div.form-group.col-lg-3.pull-right {left:-40px;}
form.form-inline { padding-top:25px;}
div.checkbox.col-sm-11.col-md-offset-1 {text-align: left;
padding-top: 10px}
.img-responsive { min-width:100%;}

.list-inline {font-family: 'Helvetica Bold Cond'; margin:30px 0;}

@media (max-width: 500px) {
	.signup {
top: -150px;}
	.signup h3 {font-size:1.1em;}
	
}
@media (max-width: 375px) {
	
}

/* digify start 24/10/2016*/
.wpcf7-response-output.wpcf7-display-none.wpcf7-mail-sent-ok {
    color: #fff;
}

.wpcf7-response-output.wpcf7-display-none.wpcf7-validation-errors {
    color: #fff;
}

span.wpcf7-not-valid-tip {
  display: none !important;
}